// Bourbon -----
@import "bourbon/bourbon";
// Reset -----
@import "_reset";
// Partials -----
@import "partials/_variables";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_contact";
@import "partials/_gallery";
// Will all compile into single stylesheet, using Sass.

// Fonts -----
@import "partials/_fonts";

body {
      background: $dark;
}
p {
      font-family: 'Open Sans', sans-serif;
}
// Custom styles
// Use variables here
.fd-dark {
      color: $dark;
}
.fd-light {
      color: $light;
}
.fd-font {
      font-family: 'Italianno', cursive;
}
.pure-g {
      letter-spacing: 0em;
}
/* .pure-g div {
      padding: 4px;
} */
// Outline individual grid elements
// First level only
.pure-g > div{
      outline: 1px solid $border-colour;
}
// Slider image captions
.slider-caption {
      // margin-left: 0;
      position: absolute;
      display: block;
      margin: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 15px;
      font-size: 80%;
      text-align: center;
      background: #000;
      // background: rgba(0,0,0, .8);
      background: rgba(50,50,50, 0.25);      
      color: #fff;
}
.bottom-border {
      border-bottom: 1px solid $border-colour;
}
.heading {
      text-align: center;
}

