// Bourbon -----
@import "bourbon/bourbon";
// Reset -----
@import "_reset";
// Partials -----
@import "partials/_variables";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_contact";
@import "partials/_gallery";
// Will all compile into single stylesheet, using Sass.

// Fonts -----
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Bonbon');
@import url('https://fonts.googleapis.com/css?family=Dr+Sugiyama');
@import url('https://fonts.googleapis.com/css?family=Italianno');

// Use variables for the colour scheme
body {
      background: $dark;
}
// Custom styles
.fd-dark {
      color: #111111;
}
.fd-light {
      color: #eeeeee;
}
.fd-font {
      font-family: 'Italianno', cursive;
}
// Outline individual grid elements
// First level only
.pure-g > div{
      outline: 1px solid $border-colour;
}

