// Import variables
@import "_variables";

/* Navigation */
.main-nav {
    top:20px;
    left:20px;
    position: relative;
    display:block;
    width:100px;
    height:100px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  /* Navigation button*/
  .main-nav a {
    position: relative;
    top: -30px;
    opacity: 0.0;
    transition-duration: 0.5s;
    transition: opacity 2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  
  .main-nav-item {
    width:60%;
    height:60%;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
    top:25%;
    left:25%;
    z-index:19;
  }
  
  .test1 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    //position:absolute;
  }
  .test2 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
  }
  .test3 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;  
  }
  .test4 {
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;  
  }
  .test5 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
  }
  .mask2 {
    /* top: 20px;
    left:20px; */
    width:100px;
    height:100px;
    background: #770a1d;
    border-radius:50%;
    position:relative;
    z-index:21;
    color:white;
    text-align:center;
    line-height:120px;
    cursor:pointer;
  }
  
  .navbar {
    background-color: $dark;
    position: relative;
    z-index: 9001;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $border-colour;
  }
  // Upon scrolling, use this class for the main navbar.
  .fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  