/* Navigation */
.main-nav {
    top:20px;
    left:20px;
    position:fixed;
    display:block;
    width:100px;
    height:100px;
    background-color:transparent;
    border-radius:50%;
    z-index:20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  /* Navigation button*/
  .main-nav a {
    position: relative;
    top: -30px;
    opacity: 0.0;
    transition-duration: 0.5s;
    transition: opacity 2s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  
  .main-nav-item {
    width:60%;
    height:60%;
    background-color:dimGray;
    border-radius:50%;
    position:absolute;
    color:white;
    text-align:center;
    line-height:70px;
    top:25%;
    left:25%;
    z-index:19;
  }
  
  .test1 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
  }
  .test2 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
  }
  .test3 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;  
  }
  .test4 {
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .3s;  
  }
  .test5 {
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
  }
  .mask2 {
    top:20px;
    left:20px;
    width:100px;
    height:100px;
    background:darkSlateGray;
    border-radius:50%;
    position:absolute;
    z-index:21;
    color:white;
    text-align:center;
    line-height:120px;
    cursor:pointer;
    position:fixed;
  }

  // Default changes
  /* Red */
$bgDefault      : #e74c3c;
$bgHighlight    : #c0392b;
$colDefault     : #398496;
$colHover       : #ffbbbc; 
/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/

  .navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}



  